@import url(css/navbar.css);
@import url(css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

p,a,h1,h2,h3,h4,h5,h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.banner img {
    position: relative;
    width: 95%;
    height: 95%;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow_btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #0070CC;
    box-shadow: 0 0 25px rgba(0, 112, 204, 1);
}

.shadow_btn:hover {
    box-shadow: 0 0 25px rgba(0, 112, 204, 0.6);
}

#star-container {
    overflow: hidden;
    position: relative;
}

#star-pattern {
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
    pointer-events: none;
}

@keyframes move-background {
    0% {
        background-position: 0% 0%;
    }
    
    100% {
        background-position: -100% 0%;
    }
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.Linguas-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#image-zoom {
    display: block;
    overflow: hidden;
    position: relative;
}

#image-zoom {
    transition: transform 0.3s;
}

#image-zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    font-weight: bold;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    font-size: 20px;
    margin-top: 10rem;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, rgb(255, 255, 255), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #000000;
}

.form-signin {
    background-color: #202020;
    border-radius: 10px;
    padding: 30px;
}

/* Altera a cor dos placeholders para branco */
::-webkit-input-placeholder {
    color: white !important;
}

@media (max-width: 991px) {

    .intro {
        margin-left: 0.5rem !important;
    }

    .banner-desktop {
        display: none;
    }

    .form {
        margin-bottom: 10rem;
        width: 100%;
    }
}
