@import url(css/navbar.css);
@import url(css/footer.css);

body {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    padding: 50px;
    margin-left: 10rem;
    margin-top: 7.5rem;
    box-sizing: border-box;
    z-index: 1;
}

.acento {
    color: rgb(0,140,255);
}

.shadow_btn {
    margin-top: 1.5rem;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #008CFF;
    box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow_btn:hover {
    box-shadow: 0 0 25px rgba(0, 140, 255, 0.6);
}

#star-container {
    overflow: hidden;
    position: relative;
}

#star-pattern {
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
    pointer-events: none;
}

@keyframes move-background {
    0% {
        background-position: 0% 0%;
    }
    
    100% {
        background-position: -100% 0%;
    }
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.pagination {
	position: relative;
	display: flex;
	flex-direction: row;
	--ddim: 10px;
	--rd: 15px;
	--rdim: calc(var(--rd)*2);
	--pm: #008CFF;
}

#points {
	content: '';
	margin: 0 10px;
	height: var(--ddim);
	width: var(--ddim);
	background: #eeeeee;
	cursor: pointer;
}

label:first-child {margin-left: 0;}
label:last-child {margin-right: 0;}
input {display: none;}

.pacman {
    content: '';
    position: absolute;
    top: calc(-1*var(--ddim));
    left: calc(-1*var(--ddim)/2);
    height: var(--rdim);
    width: var(--rdim);
    transition: transform 250ms linear;
    /* Adicionando transformação para quando a classe 'back' for adicionada */
    transform: rotate(0deg);
}

.pacman.back {
    transform: rotateY(180deg); /* Faz o pacman virar para trás */
}

.pacman:before,
.pacman:after {
    content: '';
    position: absolute;
    height: var(--rd);
    width: var(--rdim);
    left: 0;
    background: var(--pm);
    transition: inherit;
}

.pacman:before {
    top: 0;
    border-top-left-radius: var(--rdim);
    border-top-right-radius: var(--rdim);
    transform-origin: bottom center;
    transform: rotate(-45deg);
}

.pacman:after {
    bottom: 0;
    border-bottom-left-radius: var(--rdim);
    border-bottom-right-radius: var(--rdim);
    transform-origin: top center;
    transform: rotate(45deg);
}

@keyframes waka {
	0% {}
	50% {transform: rotate(0);}
	100% {}
}

input[type="radio"]:hover ~ .pacman:before,
input[type="radio"]:hover ~ .pacman:after {
	animation: waka 500ms infinite;
}

input[id="dot-1"]:checked ~ .pacman {transform: translateX(var(--ddim));}
input[id="dot-2"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)));}
input[id="dot-3"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*2));}
input[id="dot-4"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*3));}
input[id="dot-5"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*4));}
input[id="dot-6"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*5));}
input[id="dot-7"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*6));}
input[id="dot-8"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*7));}

.about-me {
    background-color: #4D4D4D;
}

.foto-moldura {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.Linguas-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#image-zoom {
    display: block;
    overflow: hidden;
    position: relative;
}

#image-zoom {
    transition: transform 0.3s;
}

#image-zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    font-weight: bold;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    font-size: 20px;
    margin-top: 10rem;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, grey, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #4D4D4D;
}

.form-signin {
    margin: auto;
    width: 330px;
    background-color: #000000;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    display: grid;
    border-radius: 8px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    max-width: 400px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-color: #535353;
    background-color: #0D1117;
    color: #ffffff;
}

#comment {
    margin-bottom: 10px;
    border-color: #535353;
    background-color: #0D1117;
    color: #ffffff;
}

@media (max-width: 991px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: centers;
        margin-left: 0;
        margin-top: 5rem;
        width: 100%;
    }
}
